.Game{
    .GameHeader {
        text-align: center;
        font-size: 3em;
    }
    .GameWrapper {
        display: flex;
        justify-content: space-around;
        .Game__selectedHero {
            width: 50%;
            text-align: center;
            .Game__img {
                max-width: 25vw;
                height: 60vh;
                padding: 2em 1em;
            }
            .Game__heroData {
                .Game__progressBar {
                    &progress:not([value]) {
                        /* Styling here */
                    }
                    &progress[value] {
                        /* Reset the default appearance */
                        -webkit-appearance: none;
                         appearance: none;
                      
                        width: 250px;
                        height: 20px;
                      }
                }
            }
        }
    }
    .Game__btn {
        margin: 0 auto;
    }
    .Game__nav {
        display: flex;
        width: 100%;
        position: absolute;
        top: 50%;
        justify-content: space-between;
        .Game__navBtn {
            font-size: 3em;
            padding: 0 0.5em 0 0.5em;
            font-weight: bold;
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            transition: all 0.5s;
            &:hover {
                color: #ffffff;
                border-radius: 2em;
                padding: 0 0.4em;
            }
        }
    }
}

progress:not([value]) {
    -webkit-appearance: none;
    appearance: none;
}